alias l="ls -la"
alias ..="cd .."
alias ...="cd ../.."
alias grj='git remind status -a; cd $(git remind status -n | fzf)'

alias task="vim ~/Dropbox/tasks/index.md"

alias lg="git add .; git commit -a -m '...'; git push;";
