alias l="ls -la"
alias ..="cd .."
alias ...="cd ../.."
alias cg="cd $HOME/github"

alias task="cd ~/Dropbox/tasks/; vim index.md"

alias lg="git add .; git commit -a -m '...'; git push;";
alias gits="gitstatus"


